	.nav {
		font-family: Georgia;
		font-size: 0.9em;
		letter-spacing: 0.02em;
		margin:0;
	
	}



	.nav__list {
	display:flex;
	}

	.nav__item {
		list-style: none;
	}

	.nav__link{
		padding: 0px 5px;
		color: #b3c0ec;
		text-decoration: none;
		font-variant: small-caps;
		display: block;
		font-family: impact;
		font-size: 1.2rem;
		
	}



	.nav__link--red {
		font-weight: bold;
		color: red;
	}